
input {
	border: 1px solid red;
}

.form-container {
	margin-top: 100px;
}

label {

	font-weight: 700;
	color: red;
}

input {
	border: 2px solid red;
	margin-bottom: 10px;
	padding: 5px;
	outline: 0px;
	border-radius: 5px;
	font-weight: 500;
	transition: .3s;
	background-color: #ffffff;
	color: red;
}

input::placeholder {
	color: #ff5555
}

input:focus {
	background-color: red;
	color: white;
}

#password-input {
	margin-left: 5px;
}

.submit-frame {
	display: flex;
	justify-content: right;
}

.submit {
	background-color: white;
	color: red;
	font-size: 13px;
	transition: 0.3s;
}

.submit:hover {
	background-color: red;
	color: white
}

#signup-ask {
	text-decoration: none;
	color: #aaaaaa;
	transition: .3s;
}

#signup-ask:hover {
	color: red;
}