{% extends 'base.html' %}
{% load static %}


{% block head %}
<title>Redshare | DISPLAY</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/display.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

<script>
	$(document).ready( function () {
    	$('#data-table').DataTable();
	} );
</script>
{% endblock %}


{% block main %}
	<div class='t-container'>
		<table class='data-table table-primary table-hover' id='data-table' style="margin:10px">
			<thead class='table-dark'>
				<tr>
					<th class='data-th'>Donor</th>
					<th class='data-th'>Blood Type</th>
					<th class='data-th'>Phone Number</th>
					<th class='data-th'>Place</th>
				</tr>
			</thead>
			<tbody>
				{% for member in members %}
					<tr>
						<td class='data-td'>{{ member.name }}</td>
						<td class="data-td">{{ member.blood_group }}</td>
						<td class="data-td">{{ member.phone_number }}</td>
						<td class="data-td">{{ member.place }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
